
table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: var(--dark-grey);
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: var(--light-grey);;
}


table tr {
  cursor: pointer;
}

table th,
table td:before {
  color: var(--main-bg);
}

table th {
  display: none;
}

table th {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.sorted::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  width: 0;
  transform: translateY(-50%);
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.desc::before {
  border-top: 5px solid var(--main-bg);
}

.asc::before {
  border-bottom: 5px solid var(--main-bg);
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}



table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }

  table th {
    padding-left: 25px;
  }
}


.photo-perpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.photo-perpage input {
  background: none;
  border: none;
  border: 1px solid var(--light-grey);
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 45%;
}

.photo-perpage input:focus {
  outline: none;
}

.photo-perpage button {
  background: none;
  border: none;
  background-color: var(--light-grey);;
  padding: 9px 30px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-bg);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}