@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --main-bg: #81ecec;
  --dark-grey: #20262e;
  --light-grey: rgb(46, 53, 62);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--dark-grey);
  background-color: var(--main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 40px auto;
  padding: 0 5%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--light-grey);;
  text-transform: uppercase;
  line-height: 1.375;
  margin: 0 0 2.4rem 0;
  letter-spacing: 1px
}




a {
  color: #20262e;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

h2 { padding-top: 20px; }
h2:first-of-type { padding-top: 0; }
ul { padding: 0; }